.text-truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 1px;
}
.twocolumns-form label sup {
    font-size: 18px;
    color: #920000;
    position: relative;
    top: 1px;
}

