@import url(fonts.css);
@import url(header.css);
@import url(footer.css);
/*
@import url(tabs.css);
@import url(accordion.css);
*/
/*----- Slideshow ----*/
.slideshow{width:100%;position:relative;overflow:hidden;}
.slideshow .slideset{position:relative;}
.slideshow .slide{position:absolute;left:0;right:0;top:0;background:#1a6280;color:#fff;}
.slideshow .slide>img{width:100%;height:auto;display:block;}
.slideshow .slide .caption{
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    font-size: 1.8rem;
    letter-spacing: 0.130rem;
}
.slideshow .slide .caption h2{
    font-size: 6.3rem;
    line-height: 1;
    margin: 0 0 3.0rem;
}
.slideshow .slide.active{z-index:2;}
.slideshow .pagination{position:absolute;left:0;right:0;text-align:center;bottom:40px;z-index:999;}
.slideshow .pagination.static{position: static;}
.slideshow.not-enough-slides .pagination{display: none;}
.slideshow .pagination ul{list-style:none;padding:0;margin:0;width:100%;}
.slideshow .pagination ul li{display:inline-block;vertical-align:middle;padding:0 3px;}
.slideshow .pagination ul li:after{display: none !important;}
.slideshow .pagination ul li a{width:14px;height:14px;background:transparent;border:3px solid #fff;display:block;text-indent:-9999px;overflow:hidden;border-radius:50%;}
.slideshow .pagination ul li.active a{background:var(--primary);border-color:var(--primary);}


.carousel-indicators button{width:14px !important;height:14px !important;background:transparent;border:3px solid #fff;display:block;text-indent:-9999px;overflow:hidden;border-radius:50%;padding: 0;border: 0 !important;}
.carousel-indicators button.active{background:var(--primary);border-color:var(--primary);}

@media screen and (max-width:1399px){
    .slideshow .slide > img{max-width:inherit;width:130%;margin:0 -15%;}
}
@media screen and (max-width:767px){
    .slideshow .slide > img{width:150%;margin:0 -25%;}
    .slideshow .slide .caption{
        position: static;
        transform: none;
        padding: 15px;
    }
    .slideshow .slide .caption h2{font-size: 3.4rem;}
    .slideshow .slide .caption h2 strong{font-size: 6.5rem;}
}
/*----- Slideshow ----*/
